.font-size {
  font-size: 23px;
}
.horizontal__line {
  border-top: 2px solid rgba(4, 4, 206, 0.274);
}
.addTocartButton {
  background-color: #ffba08 !important;
}

.addTocartButton a {
  color: white !important;
  text-decoration: none;
}
